h1 {
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #FBDADD;
    margin: 0;
    padding: 0;
}

form {
    text-align: center;
    width: fit-content;
    margin: 70px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="date"]{
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #89004E;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 7px 10px;
}
button {
    background-color: #FF0A95;
    border-radius: 25px;
    margin-top: 30px;
    padding: 10px 25px;
    cursor: pointer;
}

button:hover {
    background-color: #CC0074;
}


