@{
    ViewData["Title"] = "Регистрация";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Регистрация нового пользователя</h1>

    <form style="background-color: #fff;" action="Register" method="post">
        <div>
            <label for="login">Логин</label>
            <input type="text" id="login" name="login" required />
        </div>
        <div>
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div>
            <label for="fullName">Имя пользователя</label>
            <input type="text" id="fullName" name="fullName" required />
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
<style>
    
</style>