@{
    ViewData["Title"] = "Вход / регистрация";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Войдите или зарегистрируйтесь</h1>

    <form method="post" action="Account/LoginPage">
        <button style="background-color: #89004E; border-radius: 25px;" type="submit" name="buttonType" value="Login">Вход</button>
    </form>
    <form method="post" action="Account/RegistrationPage">
        <button style="background-color: #89004E; border-radius: 25px;" type="submit" name="buttonType" value="Register">Регистрация</button>
    </form>

    

</body>
</html>