@{
    ViewData["Title"] = "Вход / регистрация";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Войдите или зарегистрируйтесь</h1>

    <form method="post" action="Account/LoginPage">
        <button type="submit" name="buttonType" value="Login">Вход</button>
    </form>
    <form method="post" action="Account/RegistrationPage">
        <button type="submit" name="buttonType" value="Register">Регистрация</button>
    </form>

    

</body>
</html>
<style>
    button {
        background-color: #FF0A95;
        border-radius: 25px;
        margin-top: 30px;
        padding: 10px 25px;
        cursor: pointer;
    }

        button:hover {
            background-color: #CC0074;
        }
</style>